@media (max-width:1000px) {
  .work{
    width:50%;
    margin-bottom:50px;
  }
}

@media (max-width:670px) {
  .top-wrapper h1{
    font-size:24px;
  }
  .top-wrapper{
    padding: 100px 0 50px 0;
  }

  .work{
    width:100%;
  }
  .footer{
    text-align:center;
  }
  
}
